<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/George/about page.css">
</head>
<body>
<h3>About</h3>
<div class="about">
    <!---the real about is ???-->
Lorem ipsum dolor sit, a
met consectetur adipisicing elit. 
Sequi eos id voluptatem aspernatur 
quod numquam, suscipit, 
maiores dignissimos dolorem 
libero blanditiis sapiente totam aliquid 
commodi in itaque dolorum. 
Repellat,fugiat?
</div>
<h4>links</h4>
<div class="aaa">
    <!---the real links is????-->
<a href=""><img src="/static/George/faceb.svg" alt="" id="faceb" ></a>
<a href=""><img src="/static/George/insta.svg" alt="" id="insta"></a>
<a href=""><img src="/static/George/twit.svg" alt="" id="twit"></a>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>