<html>
    <head>
        <!--Preview http://localhost:3000/CustomerService -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/CustomerService/CustomerService.css">
        
    </head>
    <body>
     <!-- Elements Start -->
        
            <div id="Title">
                <button id="back">
                    <img src="/static/CustomerService/back.png" alt="back" id="icon">
                </button>
                <label for="Title">Customer Support</label>
                  
            </div>

            <div id="container">
                <div class="staffMsg">hello Customer</div>
            </div>

            <div id="utils">
                <textarea id="msgBox" placeholder="message"></textarea>
                <button id="send">
                    <img src="/static/CustomerService/Send.png" alt="Send" id="icon2">
                </button>
            </div>
        
        
    <!-- Elements End -->    
        <script src="/static/CustomerService/CustomerService.js" defer></script>
        
    </body>
</html>