@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
background-color:rgb(35, 31, 32);
margin: 0px;
padding: 0px;
}

#Title
{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    font-family: "Tilt Neon";
    font-weight: bold;
    width: 100%;
    top: 0px;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#Title label
{
    margin-left: 50px;
    padding: 10px;
    font-size: 32px;
    user-select: none;
}
#back 
{
    
    position: fixed;
    top: 0px;
    left:0px;
    margin: 0px;
    margin-right:10px;
    background-color: transparent;
    padding: 10px !important;
    border: none;
    outline: none;
}
#icon{

    object-fit: cover;
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease, filter 0.3s ease;
    outline: none;
}
#back:hover #icon {
transform: scale(1.7);
filter: invert(100%);
}
#back:active #icon {
    transform: scale(1);
    filter: invert(0%);  
}
#utils{
    position: fixed;
    height: 64px;
    width: 100%;
    bottom: 0px;
    background-color: black;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
#msgBox{
    margin: 10px;
    margin-left: 30px;
    margin-right: 0px;
    border-radius: 20px;
    padding: 10px;
    padding-left: 15px;
    border: 0px solid rgb(35, 31, 32);
    background-color:rgb(35, 31, 32);
    font-family: "Nunito Sans";
    font-weight:300;
    font-size: 16px;
    color: white;
    height: 41px;
    resize: none;
      overflow: hidden;
    transition: border-color 0.3s ease, border-width 0.1s ease-out, transform 0.3s ease;
}
#msgBox:focus{
    outline: none;
    border-color: white;
    border-width: 3px;
    transform: scaleY(1.073117073);
}
#send{
    -webkit-tap-highlight-color: transparent;
    margin: 10px;
    margin-top: 7px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}
#icon2{
   
    width: 42px;
    height: 42px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    outline: none;
}
#Send:hover #icon2 {
    transform: scale(1.2);
    opacity: 70%;
}
#Send:active #icon2 {
    transform: scale(1);
    opacity: 100%;
}
#container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(35, 31, 32);
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 0;
}

#container::-webkit-scrollbar {
    width: 14px;
    background: black;
    border-radius: 0px;
}

#container::-webkit-scrollbar-thumb {    
    background-color: rgb(35, 31, 32);
    min-height: 30px;
    border-radius: 7px;
}

#container::-webkit-scrollbar-thumb:hover {    
    background-color: silver;
}

#container::-webkit-scrollbar-thumb:active {    
    background-color: white;
}

#container::-webkit-scrollbar-track {
    background: black;
}

#container::-webkit-scrollbar-track:hover {
    background: white;
}

#container::-webkit-scrollbar-track:active {
    background: silver;
}
.userMsg {
    align-self: flex-end;
    max-width: 70%;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px;
    font-family: "Nunito Sans";
    background-color: blueviolet;
    color: white;
    border-top-right-radius: 0px;
    margin-bottom: 10px;
    word-wrap: break-word;
    margin:10px;
    margin-right: 20px;
   
}
.staffMsg {
    align-self: flex-start;
    max-width: 70%;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px;
    font-family: "Nunito Sans";
    background-color: #fbc652;
    color: white;
    border-top-left-radius: 0px;
    margin-bottom: 10px;
    word-wrap: break-word;
    margin:10px;
    margin-left: 20px;   
}

